<h1>Editing sitting request</h1>

<%= render "form", sitting_request: @sitting_request %>

<br>

<div>
  <%= link_to "Show this sitting request", @sitting_request %> |
  <%= link_to "Back to sitting requests", sitting_requests_path %>
</div>
