
<h1>Sitting requests</h1>

<div id="sitting_requests">
  <% @sitting_requests.each do |sitting_request| %>
    <div class='row'>
      
      <%= render sitting_request %>
      <div class="col">
        <%= link_to "Show this sitting request", sitting_request %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New sitting request", new_sitting_request_path %>
