<div class='col-auto'>
  <p>
    <strong>Animal type:</strong> <%= animal.animal_type %>
    
  </p>
</div>
<div class='col-auto'>
  <p>
    <strong>Hourly cost:</strong>
    <%= animal.hourly_cost %>
  </p>
</div>
