<p style="color: green"><%= notice %></p>

<h1>Animals</h1>

<div id="animals">
  <% @animals.each do |animal| %>
    <div class="row">

      <%= render animal %>
      <div class='col-2'>
        <%= link_to "Show this animal", animal %>
      </div>
  <% end %>
</div>

<%= link_to "New animal", new_animal_path %>
