<div class='col-auto '>
    <%= link_to 'All Requests', sitting_requests_path, class:"btn btn-light" %>
</div>
<div class='col-auto '>
    <%= link_to 'Our Animals', animals_path, class:"btn btn-light" %>
</div>