<div class='col'>
    <%= link_to "Home", home_path %>
</div>
<div class='col'>
    <%= link_to 'All Requests', sitting_requests_path %>
</div>
<div class='col'>
    <%= link_to 'Our Animals', animals_path %>
</div>